[Unit]
Description=Periodically drop caches to save memory under WSL.
Documentation=https://github.com/arkane-systems/wsl-drop-caches
ConditionVirtualization=wsl
PartOf=wsl-drop-caches.service

[Timer]
OnBootSec=3min
OnUnitActiveSec=3min

[Install]
WantedBy=timers.target
