[Unit]
Description=Periodically drop caches to save memory under WSL.
Documentation=https://github.com/arkane-systems/wsl-drop-caches
ConditionVirtualization=wsl
Requires=wsl-drop-caches.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/drop_cache_if_idle

